<dialog #updateMovieDialog class="modal">

    <div class="modal-box flex flex-col justify-center items-center">

        <span class="cinephoria-dialog-title">Ajout d'un film</span>

        <form [formGroup]="movieForm" (ngSubmit)="updateMovie()" method="POST"
              class="flex flex-col justify-around items-center h-140">

            <div class="cinephoria-select-cinema flex justify-between items-center px-2">
                <select class="mx-1" formControlName="categoryId" name="categoryId" id="categoryId">
                    <option disabled>Choisissez une catégorie</option>
                    @for (category of categoryList; track category.id) {
                        <option [value]="category.id" [selected]="category.id === categoryId">
                            {{ category.name }}
                        </option>
                    }
                </select>

                <img ngSrc="../../assets/images/Down_arrow.png" width="25" height="25"
                     alt="Flèche de sélection de la catégorie" />
            </div>

            <div class="flex flex-col items-start">
                <input [value]="title" type="text" formControlName="title" placeholder="Titre du film"
                       name="title" id="title" class="cinephoria-input h-8.75 w-62.5" required min="1"
                       max="50" />
            </div>

            <div class="flex flex-col items-start">
                <input [value]="description" type="text" formControlName="description" placeholder="Description du film"
                       name="description" id="description" class="cinephoria-input h-8.75 w-62.5" required
                       minlength="5" maxlength="200" />
            </div>

            <div class="flex flex-col items-start">
                <input [value]="minimumAge" type="number" formControlName="minimumAge" placeholder="Âge minimum"
                       name="minimumAge" id="minimumAge" class="cinephoria-input h-8.75 w-62.5" minlength="1"
                       maxlength="18" />
            </div>

            <div class="cinephoria-select-cinema flex justify-between items-center px-2">
                <select class="mx-1" formControlName="favorite" name="favorite" id="favorite" required>
                    <option disabled>Coup de coeur ?</option>
                    <option [selected]="favorite" value="true">Oui</option>
                    <option [selected]="!favorite" value="false">Non</option>
                </select>

                <img ngSrc="../../assets/images/Down_arrow.png" width="25" height="25"
                     alt="Flèche de sélection de la catégorie" />
            </div>

            <div class="flex flex-col items-start">
                <input [value]="imageURL" type="text" formControlName="imageURL" placeholder="URL du film"
                       name="imageURL" id="imageURL" class="cinephoria-input h-8.75 w-62.5" required min="1"
                       max="100" />
            </div>

            <div class="flex justify-end items-center gap-2 mt-2">
                <button type="submit" class="cinephoria-button">
                    <span [class.hidden]="isUpdatingMovie">Enregistrer</span>
                    <span [class.hidden]="!isUpdatingMovie" class="loading loading-spinner loading-xl"></span>
                </button>
                <button type="button" class="cinephoria-button" (click)="closeUpdateMovieDialog()">
                    <span [class.hidden]="isUpdatingMovie">Annuler</span>
                    <span [class.hidden]="!isUpdatingMovie" class="loading loading-spinner loading-xl"></span>
                </button>
            </div>

        </form>


    </div>

</dialog>
