<nav class="w-full lg:hidden fixed bottom-0 py-2 bg-neutral-700">
  <ul class="flex w-full justify-around">
    <li>
      <a class="flex flex-col items-center" routerLink="/home" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">
        <img ngSrc="assets/images/Home.png" width="35" height="35" alt="Accueil"/>
      </a>
    </li>
    <li>
      <a class="flex flex-col items-center" routerLink="/booking" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">
        <img ngSrc="assets/images/Booking.png" width="35" height="35" alt="Réservation"/>
      </a>
    </li>
    <li>
      <a class="flex flex-col items-center" routerLink="/movie" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">
        <img ngSrc="assets/images/Movie.png" width="35" height="35" alt="Films"/>
      </a>
    </li>
    <li>
      <a class="flex flex-col items-center" routerLink="/contact" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">
        <img ngSrc="assets/images/Contact.png" width="35" height="35" alt="Contact"/>
      </a>
    </li>
    <li>
      <a class="flex flex-col items-center" routerLink="/login" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">
        <img ngSrc="assets/images/Account.png" width="35" height="35" alt="Mon espace"/>
      </a>
    </li>
  </ul>
</nav>
