<app-header></app-header>

<main class="px-4 lg:py-8">

  <section class="flex flex-col items-center px-5 pb-6">
    <label for="cinema" class="cinephoria-header">Sélectionnez votre cinéma :</label>
    <div class="cinephoria-select-cinema flex justify-between items-center px-2">
      <img ngSrc="../../assets/images/Placeholder.png" width="25" height="25" alt="Cinéma à choisir" />

      <select (change)="loadMovies()" class="mx-1" name="cinema">
        <option selected disabled>Choisissez un cinéma</option>
        @for (cinema of cinemaList; track cinema.id) {
          <option [value]="cinema.id">{{ cinema.name }}</option>
        }
      </select>

      <img ngSrc="../../assets/images/Down_arrow.png" width="25" height="25" alt="Flèche du sélection de cinéma" />
    </div>
  </section>

    <section class="max-h-137.5 overflow-y-auto flex flex-wrap justify-center px-5 py-6">

      @if (movieList.length === 0) {
        <span class="hidden loading loading-spinner loading-xl text-warning"
              [class.hidden]="!isMovieListLoading">
        </span>
      } @else {
        @for (movie of movieList; track movie.id) {
          <img (click)="loadShowtimes(movie.id)" ngSrc="../../assets/images/movies/{{ movie.imageURL }}" width="150" height="230" alt="{{ movie.title }}"
               class="cinephoria-movie-image w-30 lg:w-37.5 mx-1 my-1" />
        }
      }

    </section>

    <div class="flex justify-around" style="background-color: #396cd8;">

      @for (showtime of showtimeList; track showtime.id) {
        <div class="flex flex-col justify-center items-center">

          <div class="flex justify-center items-center">
            <img ngSrc="../../assets/images/Clock.png" width="100" height="50" alt="Horaires de la séance"/>
            <span>{{ showtime.hours }}</span>
          </div>

          <div class="flex justify-center items-center">
            <img ngSrc="../../assets/images/Hall.png" width="100" height="50" alt="Numéro de la salle"/>
            <span>Salle {{ showtime.hallNumber }}</span>
          </div>

          @if (showtime.projectionQuality !== null) {
            <div class="flex justify-center items-center">
              <img ngSrc="../../assets/images/Camera.png" width="100" height="50"
                   alt="Qualité de projection de la salle"/>
              <span>{{ showtime.projectionQuality }}</span>
            </div>
          }

          <button (click)="loadSeats(showtime.hallId, showtime.price, showtime.id)" type="button" class="cinephoria-button h-10 w-55">
            <img ngSrc="../../assets/images/Ticket.png" alt="Réserver" width="20" height="20" />
            <span class="ml-7">Réserver</span>
          </button>

        </div>
      } @empty {
        <li>Aucun showtime.</li>
      }

    </div>

    <div class="flex justify-center items-center" style="background-color: #24c8db;">

      <span>Choisissez vos places</span>
      <div class="flex flex-col justify-center items-center" style="background-color: grey;">
        @for (row of seatList; track row.row) {
          <div class="flex justify-center items-center" style="background-color: brown;">
            @for (seat of row.seats; track seat.id) {
              <img [class.selected-seat]="isSelected(seat.id)" [class.locked-seat]="isAlreadyBooked(seat.id)"
                   (click)="isAlreadyBooked(seat.id)
                   ? $event.stopPropagation()
                   : selectSeat(seat.id, seat.row, seat.number)"
                   ngSrc="../../assets/images/Chair_top_view.png" width="50" height="50"
                   alt="{{ seat.row }}{{ seat.number }}"/>
            }
          </div>
        }
      </div>

    </div>

    <div class="flex flex-col justify-center items-center">

      <span>Prix : {{ totalPrice }} €</span>
      <span>
        Siège(s)
        @for (selectedSeat of selectedSeatList; track selectedSeat.id) {
          {{ selectedSeat.row + selectedSeat.number }}@if (!$last) {,}
        }
      </span>
      <button (click)="book()" type="button" class="cinephoria-button h-10 w-55">
        <img ngSrc="../../assets/images/Ticket.png" alt="Réserver" width="20" height="20" />
        <span class="ml-7">Réserver</span>
      </button>

    </div>

</main>

<app-footer></app-footer>

<app-nav-mobile></app-nav-mobile>
