<dialog #updateEmployeeDialog class="modal">

  <div class="modal-box flex flex-col justify-center items-center">

        <span class="cinephoria-dialog-title">Mise à jour de l'employé</span>

        <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee(employeeId)" method="POST"
              class="flex flex-col justify-around items-center h-140">

          <div class="cinephoria-input-container flex flex-col items-start">
            <img ngSrc="../../../assets/images/User.png" width="25" height="25" alt="Email"/>
            <input value="{{ email }}" type="email" formControlName="email" placeholder="Email" name="email"
                   id="email" class="cinephoria-input h-8.75 w-62.5" required minlength="4" maxlength="50" />
          </div>

          <div class="cinephoria-input-container flex flex-col items-start">
            <img ngSrc="../../../assets/images/Lock.png" width="25" height="25" alt="Mot de passe"/>
            <input value="{{ password }}" type="password" formControlName="password" placeholder="Mot de passe"
                   name="password" id="password" class="cinephoria-input h-8.75 w-62.5" required minlength="4"
                   maxlength="64" />
          </div>

          <div class="flex flex-col items-start">
            <input value="{{ firstName }}" type="text" formControlName="firstName" placeholder="Prénom"
                   name="firstName" id="firstName" class="cinephoria-input h-8.75 w-62.5" required minlength="4"
                   maxlength="30" />
          </div>

          <div class="flex flex-col items-start">
            <input value="{{ lastName }}" type="text" formControlName="lastName" placeholder="Nom"
                   name="lastName" id="lastName" class="cinephoria-input h-8.75 w-62.5" required minlength="4"
                   maxlength="30" />
          </div>

          <div class="cinephoria-input-container flex flex-col items-start">
            <img ngSrc="../../../assets/images/Phone_2.png" width="25" height="25" alt="Numéro de téléphone"/>
            <input value="{{ phoneNumber }}" type="text" formControlName="phoneNumber"
                   placeholder="Numéro de téléphone" name="phoneNumber" id="phoneNumber"
                   class="cinephoria-input h-8.75 w-62.5" required minlength="4" maxlength="20" />
          </div>

          <div class="flex justify-end items-center gap-2 mt-2">
            <button type="button" class="cinephoria-button" (click)="updateEmployee(employeeId)">
              <span [class.hidden]="isUpdatingEmployee">Enregistrer</span>
              <span [class.hidden]="!isUpdatingEmployee" class="loading loading-spinner loading-xl"></span>
            </button>
            <button type="button" class="cinephoria-button" (click)="closeUpdateEmployeeDialog()">
              <span [class.hidden]="isUpdatingEmployee">Annuler</span>
              <span [class.hidden]="!isUpdatingEmployee" class="loading loading-spinner loading-xl"></span>
            </button>
          </div>

        </form>


  </div>

</dialog>
