<app-header></app-header>

<main class="flex flex-col items-center justify-center px-4 lg:my-8 h-[65dvh]">

    <section class="flex flex-col items-center justify-center p-5 lg:w-[450px] h-[240px]"
             style="background-color: #272727;">

        <span class="lg:cinephoria-dialog-title cinephoria-dialog-title-small">Mot de passe oublié ?</span>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetPasswordLink()"
              action="https://formspree.io/f/xdkprvjg" method="POST"
              class="flex flex-col justify-around items-center h-[240px]">

            <div class="cinephoria-input-container flex flex-col items-start">
                <img ngSrc="../../../assets/images/Lock.png" width="25" height="25" alt="Nouveau mot de passe"/>
                <input type="password" formControlName="newPassword" name="newPassword" id="newPassword"
                       placeholder="Nouveau mot de passe" class="cinephoria-input h-8.75 w-62.5" required
                       minlength="10" maxlength="64"/>
            </div>

            <div class="cinephoria-input-container flex flex-col items-start">
                <img ngSrc="../../../assets/images/Lock.png" width="25" height="25" alt="Nouveau mot de passe"/>
                <input type="password" formControlName="confirmPassword" name="confirmPassword" id="confirmPassword"
                       placeholder="Confirmation du mot de passe" class="cinephoria-input h-8.75 w-62.5" required
                       minlength="10" maxlength="64"/>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="cinephoria-button">
                    <span [class.hidden]="isResettingPassword">Envoyer</span>
                    <span [class.hidden]="!isResettingPassword" class="loading loading-spinner loading-xl"></span>
                </button>
            </div>

        </form>

        @if (type !== null && message !== null) {
            <app-alert [type]="type" [message]="message"></app-alert>
        }

    </section>

</main>

<app-footer></app-footer>

<app-nav-mobile></app-nav-mobile>
