<app-header></app-header>


<main class="flex flex-col items-center p-5 my-4">

    <section class="flex flex-col items-center p-5">

        <div class="cinephoria-table-header">
            <div class="cinephoria-select-cinema flex justify-between items-center px-2">
                <img ngSrc="../../../assets/images/Placeholder.png" width="25" height="25" alt="Cinéma à choisir" />

                <select (change)="selectCinemaId($event)" class="mx-1" name="cinema">
                    <option selected>Aucun</option>
                    @for (cinema of cinemaList; track cinema.id) {
                        <option [value]="cinema.id">{{ cinema.name }}</option>
                    }
                </select>

                <img ngSrc="../../../assets/images/Down_arrow.png" width="25" height="25"
                     alt="Flèche du sélection de cinéma"/>
            </div>

            <div class="cinephoria-select-category flex justify-between items-center px-2">
                <img ngSrc="../../../assets/images/Label.png" width="25" height="25" alt="Catégorie à choisir" />

                <select (change)="selectCategoryId($event)" class="mx-1" name="cinema">
                    <option selected>Aucun</option>
                    @for (category of categoryList; track category.id) {
                        <option [value]="category.id">{{ category.name }}</option>
                    }
                </select>

                <img ngSrc="../../../assets/images/Down_arrow.png" width="25" height="25"
                     alt="Flèche du sélection de cinéma"/>
            </div>

            <div class="flex justify-center items-center gap-2">
                <div class="cinephoria-input flex justify-between items-center gap-2">
                    <img ngSrc="../../../assets/images/Calendar.png" width="25" height="25" alt="Date de début de séance"/>
                    <input (change)="selectShowtimeDateStart($event)" type="date" name="showtimeDateStart"
                           id="showtimeDateStart" placeholder="Choisissez une date de début de séance"/>
                </div>

                <div class="cinephoria-input flex justify-between items-center gap-2">
                    <img ngSrc="../../../assets/images/Calendar.png" width="25" height="25" alt="Date de fin de séance"/>
                    <input (change)="selectShowtimeDateEnd($event)" type="date" name="showtimeDateEnd"
                           id="showtimeDateEnd" placeholder="Choisissez une date de fin de séance"/>
                </div>

            </div>

            <button type="button" class="cinephoria-button border" (click)="loadMoviesAndShowtimes()">
                <span>Rechercher</span>
            </button>
        </div>

    </section>


</main>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<app-footer></app-footer>

<app-nav-mobile></app-nav-mobile>
