<app-header></app-header>

<main class="flex flex-col items-center px-4 lg:py-8">

  <section class="flex flex-col items-center px-5 pb-6">

    <div class="cinephoria-table-header">
      <span class="cinephoria-subtitle-2">Salles</span>
      <div class="cinephoria-select-cinema flex justify-between items-center px-2">
        <img ngSrc="../../assets/images/Placeholder.png" width="25" height="25" alt="Cinéma à choisir" />

        <select (change)="loadHallList()" class="mx-1" name="cinema">
          <option selected disabled>Choisissez un cinéma</option>
          @for (cinema of cinemaList; track cinema.id) {
            <option [value]="cinema.id">{{ cinema.name }}</option>
          }
        </select>

        <img ngSrc="../../assets/images/Down_arrow.png" width="25" height="25" alt="Flèche de sélection de cinéma" />
      </div>

      <img ngSrc="../../assets/images/Plus.png" width="40" height="40" alt="Ajouter une salle"
           (click)="openAddHallDialog()" class="cursor-pointer" />
    </div>

    <div class="cinephoria-hall-list">

      @if (isHallListLoading) {
        <span class="loading loading-spinner loading-xl text-warning"></span>
      } @else {
        @for (hall of hallList; track hall.id) {
          <div class="cinephoria-hall"
               style="background-image: url('assets/images/movies/{{ hall.movieImage }}')">

            <div class="flex justify-center items-center gap-2">
              <img ngSrc="../../assets/images/Hall.png" width="25" height="25" alt="Numéro de salle">
              <span class="cinephoria-big-text">Salle {{ hall.number }}</span>
            </div>

            @if (hall.movieTitle !== null) {
              <div class="flex justify-center items-center gap-2">
                <img ngSrc="../../assets/images/Hall.png" width="25" height="25" alt="Nom du film">
                <span class="cinephoria-big-text">{{ hall.movieTitle }}</span>
              </div>
            }

            @if (hall.hours !== null) {
              <div class="flex justify-center items-center gap-2">
                <img ngSrc="../../assets/images/Clock.png" width="25" height="25" alt="Horaires du film">
                <span class="cinephoria-big-text">{{ hall.hours }}</span>
              </div>
            }

            <div class="flex justify-center items-center gap-10">
              <button type="button" class="cinephoria-little-button"
                      (click)="openUpdateHallDialog(
                        hall.id,
                        hall.cinemaId,
                        hall.number,
                        hall.projectionQuality,
                        hall.nbRows,
                        hall.nbSeats
                      )"
              >
                <img ngSrc="../../assets/images/Pencil.png" alt="Modifier la salle" width="20" height="20" />
                <span>Modifier</span>
              </button>

              <button type="button" class="cinephoria-little-button" (click)="openDeleteHallDialog(hall.id)">
                <img ngSrc="../../assets/images/Trash.png" alt="Supprimer la salle" width="20" height="20" />
                <span>Supprimer</span>
              </button>
            </div>

          </div>
        }
      }

    </div>

  </section>

</main>

<app-footer></app-footer>

<app-add-hall-dialog (hallAddedEvent)="loadHallList()"></app-add-hall-dialog>
<app-update-hall-dialog
  [hallId]="hallIdToUpdate"
  [cinemaId]="cinemaIdToUpdate"
  [number]="numberToUpdate"
  [projectionQuality]="projectionQualityToUpdate"
  [nbRows]="nbRowsToUpdate"
  [nbSeats]="nbSeatsToUpdate"
  (hallUpdatedEvent)="loadHallList()"
>
</app-update-hall-dialog>
<app-delete-hall-dialog (hallDeletedEvent)="loadHallList()" [hallId]="hallIdToDelete"></app-delete-hall-dialog>
