<app-header></app-header>

<section class="p-5 h-[40dvh] border-b-2 border-amber-300">
  <div class="h-1/10">
    <span class="cinephoria-subtitle">Dernières affiches</span>
  </div>
  <div class="h-9/10 flex justify-around">
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
  </div>
</section>
<section class="p-5 h-[40dvh] border-t-2 border-amber-300">
  <div class="h-1/10">
    <span class="cinephoria-subtitle">Coups de coeur</span>
  </div>
  <div class="h-9/10 flex justify-around">
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
    <img ngSrc="../../assets/images/movies/Avengers_-_Infinity_War.png" width="100" height="100" />
  </div>
</section>

<app-footer></app-footer>
