<app-header></app-header>

<main class="px-12 py-10">

  <section class="pb-6 border-b-2 border-amber-300">

    <div class="h-1/10 mb-3">
      <span class="cinephoria-subtitle-2">Dernières affiches</span>
    </div>

    <div class="h-9/10 flex flex-wrap justify-center gap-3">
      @for (lastMovie of lastMovies; track lastMovie.id) {
        <img ngSrc="../../assets/images/movies/{{ lastMovie.imageURL }}" alt="{{ lastMovie.title }}"
             width="150" height="230" class="cinephoria-movie-image w-30 md:w-37.5" />
      } @empty {
        <li>Aucun film.</li>
      }
    </div>

  </section>
  <section class="pt-6 border-t-2 border-amber-300">
    <div class="h-1/10 mb-3">
      <span class="cinephoria-subtitle-2">Coups de coeur</span>
    </div>

    <div class="h-9/10 flex flex-wrap justify-around gap-3">
      @for (favoriteMovie of favoriteMovies; track favoriteMovie.id) {
        <img ngSrc="../../assets/images/movies/{{ favoriteMovie.imageURL }}" alt="{{ favoriteMovie.title }}"
             width="150" height="230" class="cinephoria-movie-image w-30 md:w-37.5" />
      } @empty {
        <li>Aucun film.</li>
      }
    </div>

  </section>

</main>

<app-footer></app-footer>
