<app-header></app-header>

<section class="p-5 border-b-2 border-amber-300">

  <div class="h-1/10">
    <span class="cinephoria-subtitle">Dernières affiches</span>
  </div>

  <div class="h-9/10 flex flex-wrap justify-around">
  @for (lastMovie of lastMovies; track lastMovie.id) {
    <img ngSrc="../../assets/images/movies/{{ lastMovie.imageURL }}" width="200" height="100" />
  } @empty {
    <li>Aucun film.</li>
  }
  </div>

</section>
<section class="p-5 border-t-2 border-amber-300">
  <div class="h-1/10">
    <span class="cinephoria-subtitle">Coups de coeur</span>
  </div>

  <div class="h-9/10 flex justify-around">
    @for (favoriteMovie of favoriteMovies; track favoriteMovie.id) {
      <img ngSrc="../../assets/images/movies/{{ favoriteMovie.imageURL }}" width="200" height="100" />
    } @empty {
      <li>Aucun film.</li>
    }
  </div>

</section>

<app-footer></app-footer>
