<header class="flex justify-around items-center px-4 py-2">

  <div class="flex justify-start items-center w-80/100 lg:w-30/100">
    <img ngSrc="assets/images/Popcorn.png" width="80" height="80" alt="Logo de Cinéphoria" class="cinephoria-logo"/>
    <span class="cinephoria-main-title">Cinéphoria</span>
  </div>

  <nav class="w-40/100 hidden lg:inline">
    <ul class="flex justify-between">
      <li>
        <a class="cinephoria-header" routerLink="/home" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">Accueil</a>
      </li>
      <li>
        <a class="cinephoria-header" routerLink="/booking" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">Réservation</a>
      </li>
      <li>
        <a class="cinephoria-header" routerLink="/movie" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">Films</a>
      </li>
      <li>
        <a class="cinephoria-header" routerLink="/contact" routerLinkActive="cinephoria-active-link" ariaCurrentWhenActive="page">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="cinephoria-account flex justify-end items-center w-30/100">
    <span class="cinephoria-header">Mon espace</span>
    <img ngSrc="../../assets/images/Account.png" class="ml-2" width="50" height="50"  alt="Mon espace"/>
  </div>

  <!-- TODO AJOUTER LA NAV MOBILE EN BAS DE LECRAN QUAND CEST PETIT <div class="cinephoria-hamburger flex justify-center w-20/100 md:hidden">&#9776;</div>-->

</header>
