<header class="h-[100px] flex justify-around items-center p-2">

  <div class="flex justify-start items-center w-80/100 md:w-30/100">
    <img ngSrc="assets/images/Popcorn.png" width="80" height="80" alt="Logo de Cinéphoria" class="cinephoria-logo"/>
    <span class="cinephoria-main-title absolute top-3 left-25">Cinéphoria</span>
  </div>

  <nav class="cinephoria-nav w-40/100">
    <ul class="flex justify-between">
      <li>
        <a class="cinephoria-header" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a>
      </li>
      <li>
        <a class="cinephoria-header" routerLink="/booking" routerLinkActive="active" ariaCurrentWhenActive="page">Réservation</a>
      </li>
      <li>
        <a class="cinephoria-header" routerLink="/movie" routerLinkActive="active" ariaCurrentWhenActive="page">Films</a>
      </li>
      <li>
        <a class="cinephoria-header" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="cinephoria-account flex justify-end items-center w-30/100">
    <span class="cinephoria-header">Mon espace</span>
    <img ngSrc="../../assets/images/Account.png" class="ml-2" width="50" height="50"  alt="Mon espace"/>
  </div>

  <div class="cinephoria-hamburger flex justify-center w-20/100 md:hidden">&#9776;</div>

</header>
