<footer class="h-[49px] flex justify-around items-center p-2">

  <div class="flex items-center">
    <img ngSrc="../../assets/images/Popcorn.png" width="30" height="30"  alt="Adresse du cinéma" />
    <div class="ml-2">
      <span class="cinephoria-subtitle">500, rue de l'Odysseum</span>
      <br>
      <span class="cinephoria-subtitle">34000 Montpellier</span>
    </div>
  </div>

  <div class="flex items-center">
    <img ngSrc="../../assets/images/Phone.png" width="30" height="30"  alt="Numéro de téléphone du cinéma" />
    <span class="cinephoria-subtitle ml-2">06 45 89 53 12</span>
  </div>

  <div class="flex items-center">
    <img ngSrc="../../assets/images/Clock.png" width="30" height="30"  alt="Horaires du cinéma" />
    <span class="cinephoria-subtitle ml-2">09h00 - 10h00</span>
  </div>

</footer>
