.administrator-button {
  background-color: #E63946;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-weight: bold;
}
