<app-header></app-header>

<main class="p-5 my-4">

    <section class="flex flex-col">

        <div class="cinephoria-table-header flex flex-col lg:flex-row justify-between items-center">

            <div class="cinephoria-select-cinema flex justify-between items-center px-2">
                <img ngSrc="../../../assets/images/Placeholder.png" width="25" height="25" alt="Cinéma à choisir" />

                <select (change)="selectCinemaId($event)" class="mx-1" name="cinema">
                    <option selected>Aucun</option>
                    @for (cinema of cinemaList; track cinema.id) {
                        <option [value]="cinema.id">{{ cinema.name }}</option>
                    }
                    <option [value]="2">Blabla</option>
                </select>

                <img ngSrc="../../../assets/images/Down_arrow.png" width="25" height="25"
                     alt="Flèche du sélection de cinéma"/>
            </div>

            <div class="cinephoria-select-category flex justify-between items-center px-2">
                <img ngSrc="../../../assets/images/Label.png" width="25" height="25" alt="Catégorie à choisir" />

                <select (change)="selectCategoryId($event)" class="mx-1" name="cinema">
                    <option selected>Aucun</option>
                    @for (category of categoryList; track category.id) {
                        <option [value]="category.id">{{ category.name }}</option>
                    }
                </select>

                <img ngSrc="../../../assets/images/Down_arrow.png" width="25" height="25"
                     alt="Flèche du sélection de cinéma"/>
            </div>


            <div class="cinephoria-input flex justify-between items-center gap-2">
                <img ngSrc="../../../assets/images/Calendar.png" width="25" height="25" alt="Date de début de séance"/>
                <input (change)="selectShowtimeDateStart($event)" type="date" name="showtimeDateStart"
                       id="showtimeDateStart" placeholder="Choisissez une date de début de séance"/>
            </div>
            <div class="cinephoria-input flex justify-between items-center gap-2">
                <img ngSrc="../../../assets/images/Calendar.png" width="25" height="25" alt="Date de fin de séance"/>
                <input (change)="selectShowtimeDateEnd($event)" type="date" name="showtimeDateEnd"
                       id="showtimeDateEnd" placeholder="Choisissez une date de fin de séance"/>
            </div>

            <button type="button" class="cinephoria-button border" (click)="loadMoviesAndShowtimes()">
                <span>Rechercher</span>
            </button>

        </div>

        @if (isMovieListLoading) {
            <div class="flex flex-col justify-center items-center p-5" style="background-color: #272727;">
                <span class="loading loading-spinner loading-xl text-warning"></span>
            </div>
        } @else {
            <div class="flex flex-col justify-center items-center p-5 gap-5" style="background-color: #272727;"
                 [class.hidden]="isMovieListLoading">

                <span class="cinephoria-subtitle-2 mx-12">Liste des films</span>

                <div class="max-h-[520px] flex flex-wrap justify-center overflow-x-auto gap-2">
                    @for (movie of movieList; track movie.id) {
                        <img (click)="displayMovieDetails(
                        movie.id,
                        movie.favorite,
                        movie.title,
                        movie.description,
                        movie.imageURL,
                        movie.minimumAge,
                        movie.averageRating
                    )" ngSrc="../../assets/images/movies/{{ movie.imageURL }}"
                             alt="{{ movie.title }}" width="150" height="230" tabindex="0"
                             class="cinephoria-movie-image"/>
                    }
                </div>

                @if (selectedMovie !== null) {
                    <div class="cinephoria-movie-details"
                         style="background-image: url('assets/images/movies/{{ selectedMovie.imageURL }}')">

                        <div class="flex lg:flex-row flex-col lg:justify-between">

                            <div class="flex flex-col gap-2 lg:w-50/100">
                                <div class="flex items-center gap-2">
                                    <span class="cinephoria-subtitle-2">{{ selectedMovie.title }}</span>
                                    @if (selectedMovie.favorite) {
                                        <img ngSrc="../../../assets/images/Heart.png" width="35" height="35"
                                             alt="Coup de coeur" />
                                    }
                                </div>
                                <span class="cinephoria-big-text">
                                @if (selectedMovie.minimumAge !== null) {
                                    - {{ selectedMovie.minimumAge }} ans
                                } @else {
                                    Tous public
                                }
                            </span>
                                <div class="flex items-center gap-2 ">
                                    <span class="cinephoria-big-text">{{ selectedMovie.averageRating }} / 5</span>
                                    <img ngSrc="../../../assets/images/Star.png" width="25" height="25" alt="Note du film" />
                                </div>
                            </div>

                            <span class="cinephoria-main-text lg:w-50/100">{{ selectedMovie.description }}</span>

                        </div>

                        <div class="flex flex-col items-center">

                            <span class="cinephoria-subtitle-2">Choisissez votre séance</span>

                            <div class="flex flex-col md:flex-row">
                                @for (selectedShowtime of selectedShowtimes[selectedMovie.id]; track selectedShowtime.id) {
                                    <div class="cinephoria-showtime m-2">

                                        <div class="flex justify-center items-center w-full">
                                            <img ngSrc="../../../assets/images/Calendar.png" width="25" height="25"
                                                 alt="Date de la séance" class="mr-auto" />
                                            <span class="ml-1 mr-auto">{{ selectedShowtime.date }}</span>
                                        </div>

                                        <div class="flex justify-center items-center w-full">
                                            <img ngSrc="../../../assets/images/Clock.png" width="25" height="25"
                                                 alt="Horaires de la séance" class="mr-auto" />
                                            <span class="ml-1 mr-auto">{{ selectedShowtime.hours }}</span>
                                        </div>

                                        <button (click)="redirectToBookingPage(selectedMovie.id, selectedShowtime.id)"
                                                type="button" class="cinephoria-little-button">
                                            <img ngSrc="../../../assets/images/Ticket.png" alt="Réserver"
                                                 width="20" height="20" />
                                            <span>Réserver</span>
                                        </button>

                                    </div>
                                } @empty {
                                    <li>Aucun showtime.</li>
                                }
                            </div>


                        </div>

                    </div>
                }

            </div>
        }

    </section>

</main>

<app-footer></app-footer>

<app-nav-mobile></app-nav-mobile>
