<app-header></app-header>

<main class="flex justify-center items-center">

  <section class="w-90/100">

    <!-- Header -->
    <div class="cinephoria-table-header flex justify-between">

      <!-- Titre -->
      <span class="cinephoria-subtitle">Employés</span>

      <!-- Liste de tous les cinémas -->
      <div class="flex justify-end items-center">
        <img ngSrc="../../assets/images/Plus.png" width="25" height="25" alt="Ajouter un employé"/>
      </div>

    </div>

    <!-- Foreach de chaque réservation -->

    @for (employee of employeeList; track employee.id) {
      <div class="cinephoria-employee flex">
        <div class="flex justify-center items-center">
          <img ngSrc="../../assets/images/user.svg" width="25" height="25" alt="Prénom et nom">
          <span>{{ employee.firstName }}</span>
          <span>{{ employee.lastName|titlecase }}</span>
        </div>

        <div class="flex justify-center items-center">
          <img ngSrc="../../assets/images/Email.png" width="25" height="25" alt="Email">
          <span>{{ employee.email }}</span>
        </div>

        <div class="flex justify-center items-center">
          <img ngSrc="../../assets/images/Old_phone.png" width="25" height="25" alt="Numéro de téléphone">
          <span>{{ employee.phoneNumber }}</span>
        </div>

        <div class="flex justify-center items-center">
          <img ngSrc="../../assets/images/lock.svg" width="25" height="25" alt="Bloquer l'employé">
          <img ngSrc="../../assets/images/Pencil.png" width="25" height="25"
               alt="Modifier les informations de l'employé">
          <img ngSrc="../../assets/images/Trash.png" width="25" height="25" alt="Supprimer l'employé">
        </div>
      </div>
    }

    <div>

      <!-- Réservation -->

    </div>

  </section>

</main>

<app-footer></app-footer>
