<app-header></app-header>

<main class="flex flex-col items-center justify-center px-4 lg:my-8 h-[65dvh]">

    <section class="flex flex-col items-center justify-center p-5 lg:w-[450px] h-[240px]"
             style="background-color: #272727;">

        <span class="lg:cinephoria-dialog-title cinephoria-dialog-title-small">Mot de passe oublié ?</span>

        <form [formGroup]="forgottenPasswordForm" (ngSubmit)="sendResetPasswordLink()"
              action="https://formspree.io/f/xdkprvjg" method="POST"
              class="flex flex-col justify-around items-center h-[240px]">

            <div class="cinephoria-input-container flex flex-col items-start">
                <img ngSrc="../../../assets/images/User.png" width="25" height="25" alt="Email"/>
                <input type="email" formControlName="email" name="email" id="email" placeholder="Email"
                       class="cinephoria-input h-8.75 w-62.5" required minlength="5" maxlength="50"/>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="cinephoria-button">
                    <span [class.hidden]="isSendingMail">Envoyer</span>
                    <span [class.hidden]="!isSendingMail" class="loading loading-spinner loading-xl"></span>
                </button>
            </div>

        </form>

        @if (type !== null && message !== null) {
            <app-alert [type]="type" [message]="message"></app-alert>
        }

    </section>

</main>

<app-footer></app-footer>

<app-nav-mobile></app-nav-mobile>
