@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Great Vibes";
  src: url("assets/fonts/GreatVibes.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/Oswald.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway.ttf") format("truetype");
}

html {
  font-size: 16px;
  background-color: #1C1C1C;
}

.cinephoria-select-cinema {
  width: 250px;
  height: 35px;
  background-color: #FFFFFF;
  border-radius: 2px;
  cursor: pointer;

  select {
    width: 100%;
    height: 100%;
    appearance: none;
    color: #1C1C1C;
    cursor: pointer;
  }
}

.cinephoria-select-category {
    width: 200px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;

    select {
        width: 100%;
        height: 100%;
        appearance: none;
        color: #1C1C1C;
        cursor: pointer;
    }
}

.cinephoria-hamburger {
  font-size: 2rem;
  cursor: pointer;
}

.cinephoria-background {
  background-color: #1C1C1C;
}

.cinephoria-brand-title {
  color: #FFFFFF;
  font-family: Great Vibes, sans-serif;
  font-size: 64px;
}

.cinephoria-main-title {
  color: #F1C40F;
  font-family: Oswald, sans-serif;
  font-size: 30px;
}

.cinephoria-subtitle {
  color: #FFFFFF;
  font-family: Merriweather, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.cinephoria-subtitle-2 {
  color: #FFFFFF;
  font-family: Merriweather, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.cinephoria-movie-image {
  border-radius: 2px;
  cursor: pointer;
}

.cinephoria-movie-image:focus {
  outline: 2px solid #F1C40F;
}

.cinephoria-nav-icon {
  box-shadow: 0 0 0 4px green;
  border-radius: 8px;
}

.cinephoria-header {
  color: #FFFFFF;
  font-family: Merriweather, sans-serif;
  font-size: 24px;
}

.cinephoria-footer {
  color: #FFFFFF;
  font-family: Merriweather, sans-serif;
  font-size: 16px;
  height: 50px;
  width: 100%;
}

.cinephoria-booking {
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 90px;
  width: 100%
}

.cinephoria-hall {
  border: 1px solid #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.cinephoria-administrator-button {
  background-color: #E63946;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.cinephoria-list {
  background-color: #272727;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 410px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinephoria-hall-list {
  background-color: #272727;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.cinephoria-movie-list {
  background-color: #272727;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 410px;
  gap: 10px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinephoria-showtime-list {
  background-color: #272727;
  border-radius: 0 0 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 410px;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinephoria-movie-details {
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  width: 100%;
}

.cinephoria-movie-settings {
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  cursor: pointer;
}

.cinephoria-showtime-settings {
  background-color: #1C1C1C;
  height: 110px;
  width: 100%;
}

.cinephoria-employee {
  background-color: #1C1C1C;
  padding: 10px;
  margin: 4px;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.cinephoria-hall-number {
  color: #F1C40F;
  font-family: Oswald, sans-serif;
  font-size: 40px;
}

.cinephoria-informations {
  display: flex;
  align-items: center;
  width: 40dvw;
}

.cinephoria-incident-header {
  color: #F1C40F;
  font-family: Merriweather, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.cinephoria-incident {
  border-top: 2px solid #F1C40F;
  border-bottom: 2px solid #F1C40F;
}

.cinephoria-main-text {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.cinephoria-big-text {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 24px;
}

.cinephoria-movie-title {
  color: #F1C40F;
  font-family: Oswald, sans-serif;
  font-size: 7dvw;
}

.cinephoria-showtime {
  background-color: #1C1C1C;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 140px;
  padding: 8px;
}

.cinephoria-alert {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.cinephoria-table-header {
  background-color: #E63946;
  border-radius: 2px 2px 0 0;
  gap: 5px;
  padding: 20px;
}

.cinephoria-table-header-movie {
  background-color: #E63946;
  border-radius: 2px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px;
}

.cinephoria-table-header-showtime {
  background-color: #E63946;
  border-radius: 0 2px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 20px;
}

.cinephoria-active-link {
  font-weight: bold;
  cursor: default;
}

.cinephoria-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E63946;
  color: #FFFFFF;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 50px;
}

.cinephoria-button:hover {
  background-color: #e62232;
}

.cinephoria-button:active {
  background-color: #C41826;
}

.cinephoria-button:disabled {
  background-color: lightgrey;
  color: #1C1C1C;
}

.cinephoria-little-button {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E63946;
  color: #FFFFFF;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 90px;
  height: 25px;
}

.cinephoria-little-button:hover {
  background-color: #e62232;
}

.cinephoria-little-button:active {
  background-color: #C41826;
}

.cinephoria-little-button:disabled {
  background-color: lightgrey;
  color: #1C1C1C;
}

.cinephoria-input {
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #1C1C1C;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  padding: 5px;
}

.cinephoria-input::placeholder {
  color: #1C1C1C;
}

.cinephoria-input-container {
  position: relative;
  width: 250px;
}

.cinephoria-input-container img {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
}

.cinephoria-input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 2px;
}

.cinephoria-input-container input:focus {
  border-color: unset;
  outline: none;
}

.cinephoria-small-input {
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #1C1C1C;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  padding: 5px;
}

.cinephoria-small-input::placeholder {
  color: #1C1C1C;
}

.cinephoria-dialog-title {
  font-size: 32px;
  font-weight: bold;
}

.cinephoria-dialog-title-small {
  font-size: 26px;
  font-weight: bold;
}
